In [191]:
import numpy as np
import pandas as pd
from textblob import TextBlob
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [192]:
#read csvs
df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [193]:
# check column names 
df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [194]:
# filter for relevant columns
df = df[["Title", "Review Text", "Rating", "Division Name", "Department Name"]]

In [195]:
#change column names to be lowercase
cols = []
for i in range(len(df.columns)):
    cols.append(df.columns[i].lower())
cols

['title', 'review text', 'rating', 'division name', 'department name']

In [196]:
#assign it to columns
df.columns = cols

In [197]:
# remove spaces in columns name
df.columns = df.columns.str.replace(' ','_')

In [198]:
df.head()

,title,review_text,rating,division_name,department_name
0,NaN,Absolutely wonderful - silky and sexy and comf...,4,Initmates,Intimate
1,NaN,Love this dress! it's sooo pretty. i happene...,5,General,Dresses
2,Some major design flaws,I had such high hopes for this dress and reall...,3,General,Dresses
3,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,General Petite,Bottoms
4,Flattering shirt,This shirt is very flattering to all due to th...,5,General,Tops

In [199]:
# check shape
df.shape

(23486, 5)

In [200]:
# check types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            19676 non-null  object
 1   review_text      22641 non-null  object
 2   rating           23486 non-null  int64
 3   division_name    23472 non-null  object
 4   department_name  23472 non-null  object
dtypes: int64(1), object(4)
memory usage: 917.5+ KB

In [201]:
# check statistics
df.describe()

             rating
count  23486.000000
mean       4.196032
std        1.110031
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [202]:
# assess df_all's null values
df.isnull().sum()

title              3810
review_text         845
rating                0
division_name        14
department_name      14
dtype: int64

In [203]:
# check the percentage of missing values
df.isna().mean().round(4) *100

title              16.22
review_text         3.60
rating              0.00
division_name       0.06
department_name     0.06
dtype: float64

In [204]:
# check data types of columns
df.dtypes

title              object
review_text        object
rating              int64
division_name      object
department_name    object
dtype: object

In [205]:
# assess df's duplicated values
sum(df.duplicated())

804

In [206]:
# drop duplicates
df = df.drop_duplicates()

In [207]:
sum(df.duplicated())

0

In [230]:
# use groupby function to summarise the average rating by division and department as a new dataframe
rating_df = pd.DataFrame(df.groupby(["division_name", "department_name"])["rating"].mean())

In [231]:
rating_df

                                  rating
division_name  department_name
General        Bottoms          4.263083
               Dresses          4.150079
               Jackets          4.239488
               Tops             4.138255
               Trend            3.875000
General Petite Bottoms          4.336783
               Dresses          4.118314
               Intimate         4.223404
               Jackets          4.322289
               Tops             4.191582
               Trend            3.789474
Initmates      Intimate         4.261298

In [232]:
rating_df.reset_index()

     division_name department_name    rating
0          General         Bottoms  4.263083
1          General         Dresses  4.150079
2          General         Jackets  4.239488
3          General            Tops  4.138255
4          General           Trend  3.875000
5   General Petite         Bottoms  4.336783
6   General Petite         Dresses  4.118314
7   General Petite        Intimate  4.223404
8   General Petite         Jackets  4.322289
9   General Petite            Tops  4.191582
10  General Petite           Trend  3.789474
11       Initmates        Intimate  4.261298

In [250]:
# Draw a nested barplot by division_name and department_name
sns.barplot(x='rating', y='department_name', hue='divison_name', data=new_df)

ValueError: Could not interpret input 'department_name'

In [234]:
df.iloc[5]

title                           Shimmer, surprisingly goes with lots
review_text        I ordered this in carbon for store pick up, an...
rating                                                             4
division_name                                         General Petite
department_name                                                 Tops
polarity                                                    0.171635
subjectivity                                                0.496154
Name: 5, dtype: object

In [235]:
# evaluate the accuracy of the sentiment polarity and subjectivity against the text itself
comment=TextBlob(df.at[5, 'review_text'])
comment.sentiment

Sentiment(polarity=0.17163461538461539, subjectivity=0.49615384615384617)

In [236]:
# evaluate the accuracy of the sentiment polarity and subjectivity against the text itself
comment=TextBlob(df.at[15, 'review_text'])
comment.sentiment

Sentiment(polarity=0.10238095238095238, subjectivity=0.680952380952381)

In [237]:
# evaluate the accuracy of the sentiment polarity and subjectivity against the text itself
comment=TextBlob(df.at[25, 'review_text'])
comment.sentiment

Sentiment(polarity=0.0, subjectivity=0.625)

In [238]:
#use textblob to break out the text into sentences 
sentence = TextBlob(df.at[25, 'review_text'])

In [239]:
sentence

TextBlob("I have several of goodhyouman shirts and i get so many compliments on them. especially the one that says forehead kisses are underrated. don't hesitate. buy this shirt. you won't be sorry.....")

In [240]:
# remove any rows in your data which contain have null in the review column
df = df.dropna(axis = 0, how ='any') 
df = df.reset_index(drop=True)

In [241]:
df.shape

(19659, 7)

In [242]:
df.head()

,title,review_text,rating,division_name,department_name,polarity,subjectivity
0,Some major design flaws,I had such high hopes for this dress and reall...,3,General,Dresses,0.073675,0.356294
1,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,General Petite,Bottoms,0.550000,0.625000
2,Flattering shirt,This shirt is very flattering to all due to th...,5,General,Tops,0.512891,0.568750
3,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,General,Dresses,0.178750,0.533125
4,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,General Petite,Tops,0.133750,0.607778

In [243]:
def sentiment(text):
    try:
        return TextBlob(text).sentiment
    except:
        return None

In [244]:
# define a function with lambda (or other preferred method)
# to calculate sentiment polarity for each row of the filtered review data set, 
# as a new column on the data frame. 

df['polarity'] = df['review_text'].apply(sentiment).apply(lambda x: x[0])
df['subjectivity'] = df['review_text'].apply(sentiment).apply(lambda x: x[1])

In [245]:
df.head()

,title,review_text,rating,division_name,department_name,polarity,subjectivity
0,Some major design flaws,I had such high hopes for this dress and reall...,3,General,Dresses,0.073675,0.356294
1,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,General Petite,Bottoms,0.550000,0.625000
2,Flattering shirt,This shirt is very flattering to all due to th...,5,General,Tops,0.512891,0.568750
3,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,General,Dresses,0.178750,0.533125
4,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,General Petite,Tops,0.133750,0.607778

In [246]:
# summarise the minimum review polarity, by division and department as a new dataframe
polarity_df = pd.DataFrame(df.groupby(["division_name", "department_name"])["polarity"].min())

In [247]:
polarity_df.reset_index()

     division_name department_name  polarity
0          General         Bottoms -0.533333
1          General         Dresses -0.916667
2          General         Jackets -0.750000
3          General            Tops -0.975000
4          General           Trend -0.266667
5   General Petite         Bottoms -0.257778
6   General Petite         Dresses -0.350000
7   General Petite        Intimate -0.230000
8   General Petite         Jackets -0.562500
9   General Petite            Tops -0.700000
10  General Petite           Trend -0.083333
11       Initmates        Intimate -0.392333